<div class=side-header>
  <div class=user-name>
    <a href="#">Tom</a>
  </div>
  <div class=side-box>
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class=groups>
  <div class=room>
    <div class=room-name>
      <a href="#">Techroom1</a>
    </div>
  </div>
  <div class=room>
    <div class=room-name>
      <a href="#">Techroom2</a>
    </div>
  </div>
</div>